
			<div ng-controller="AuthCtrl">
   <header class="main-container__header">
      <h2 class="title title_bottom-decor">finaxys careers platform</h2>
      <div class="subtitle">WELCOME</div>
   </header>
   <div class="content about-me">
      <div class="about-me__layout " data-show-effect="fadeInLeft" data-show-delay="200">
         <div class="avatar">
         </div>
         <div class="about-me__content">
            <header class="main-container__header">
               <h2 class="subtitle"> You don't have an account ?</h2>
               <div class="title title_bottom-decor"><a href="#/signup">SIGN UP</a></div>

            </header>
         </div>
      </div>
      <section class="about-me__sidebar " data-show-effect="fadeInRight" data-show-delay="200">
         <h3 class="title title_middle about-me__title">SIGN <span class="about-me__title-label">IN</span></h3>
         <form id="todo-form" >
            <div class="contact-form__item " data-show-effect="fadeInRight" data-show-delay="400" >
               <i class="icon icon-user contact-form__icon"></i> 
               <input class="text-field" ng-model="username" placeholder="username"required>
            </div>
            <div class="contact-form__item " data-show-effect="fadeInRight" data-show-delay="500">
               <i class="icon icon-key contact-form__icon"></i> 
               <input class="text-field" ng-model="password" type="password" placeholder="password" name="password" required>
            </div>

       


            <div class="contact-form__item">
               <button ng-click="verify(username,password)" class="button contact-form__button " data-show-effect="fadeInRight" data-show-delay="700"><span class="button__label">Submit</span></button>

            </div>

            <p></p>
         </form>
      </section>
   </div>

</div>



