


<div ng-controller="CandidatCtrl">

   <header class="main-container__header">
      <h2 class="title title_bottom-decor">About me</h2>
      <div class="subtitle">Let me introduce myself</div>
   </header>
   <div class="content about-me">




      <div class="about-me__layout " data-show-effect="fadeInLeft" data-show-delay="200">
       <br> <br> <br>
       <header class="main-container__header">
         <ANY class="subtitle title_middle">Upload your picture</ANY>

      </header>


    


       <div class="avatar">
          <any ng-repeat="image in images">
            
                    <img width="150px" id="imagePreview{{$index}}" src="#" alt="" />
             
            </any>
      
    
    <span class="btn btn-default btn-file"><input type="file" class="btn btn-link" id="img"/>
    </span>

<div>
    <button ng-click="addImage()" type="button" class="text-field icon-plus" style="float:bottom-right ; left;background-color: white;color: black;border: 0px solid #000;"></button>

</div>

    

  </div>


<BR>
   <BR>
      <BR>
         <div class="about-me__content">
            <textarea class="text-field textarea" ng-model="description" rows="600" placeholder=" Describe yourself... "></textarea>
         </div>
      </div>


      <section class="about-me__sidebar " data-show-effect="fadeInRight" data-show-delay="200">
         <h3 class="title title_middle about-me__title">PERSONAL <span class="about-me__title-label">INFO</span></h3>

         <div class="contact-form__item " data-show-effect="fadeInLeft" data-show-delay="400">
            <i class="icon icon-user contact-form__icon"></i> 
            <input class="text-field" ng-model="firstname" placeholder="Your firstname" name="firstname" required>
         </div>

         <div class="contact-form__item " data-show-effect="fadeInLeft" data-show-delay="400">
            <i class="icon icon-user contact-form__icon"></i> 
            <input class="text-field" ng-model="lastname" placeholder="Your lastname" name="lastname" required>
         </div>


         <div class="contact-form__item " data-show-effect="fadeInLeft" data-show-delay="400">
            <i class="icon icon-calendar contact-form__icon"></i> 
            <input class="text-field" ng-model="dob" placeholder="Date of birth" name="dob" required>
         </div>
         <div class="contact-form__item " data-show-effect="fadeInLeft" data-show-delay="600">
            <i class="icon icon-home contact-form__icon"></i>
            <input class="text-field" type="text" ng-model="address" placeholder="Your address" name="addresse" required>
         </div>
         <div class="contact-form__item " data-show-effect="fadeInLeft" data-show-delay="600">
            <i class="icon icon-mobile-phone contact-form__icon"></i>
            <input class="text-field" type="text" ng-model="number" placeholder="Your phone number" name="number" required>
         </div>
         <div class="contact-form__item " data-show-effect="fadeInRight" data-show-delay="500">
            <i class="icon icon-envelope-alt contact-form__icon"></i> 
            <input class="text-field" type="email" ng-model="email" placeholder="Your email" name="email" required>
         </div>
         <div class="contact-form__item " data-show-effect="fadeInLeft" data-show-delay="600">
            <i class="icon icon-linkedin-sign contact-form__icon"></i>
            <input class="text-field" type="text" ng-model="linkedin" placeholder="Your linkedin account" name="linkedin">
         </div>
         <div class="contact-form__item " data-show-effect="fadeInLeft" data-show-delay="600">
            <i class="icon-rounded icon-github contact-form__icon"></i>
            <input class="text-field" type="text" ng-model="github" placeholder="Your githgub account" name="github">
         </div>

      </section>
   </div>

   <section id="experience" class="wrapper display_js">
      <div class="main-container main-container_padding">
         <header class="main-container__header">
            <h2 class="title title_bottom-decor">Experience</h2>
            <div class="subtitle">More about my experience</div>
         </header>
         <div class="timeline">
            <div class="timeline__line " data-show-effect="fadeInDown" data-show-delay="0" data-time="2000"></div>

            <div ng-repeat="experience in user.experiences">
               <div class="timeline__layout">
                  <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
                  <div class="timeline__inner timeline__time  " data-show-effect="fadeIn" data-show-delay="900"><span class="timeline__date">{{experience.year}}</span> <span class="timeline__place-work">{{experience.company}}</span></div>
                  <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1000">
                     <h3 class="title title_small timeline__title">{{experience.poste}}</h3>
                     <div class="timeline__description">
                        <p>{{experience.post_description}}</p>
                     </div>
                  </article>
               </div>
            </div>

            <div class="timeline__layout">
               <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
               <div class="timeline__inner timeline__time " data-show-effect="fadeIn" data-show-delay="900">
                  <span class="timeline__date">
                     <input class="text-field" type="text" ng-model="year" name="year" placeholder="AAAA - AAAA">
                  </span> 
                  <span class="timeline__place-work">
                     <input class="text-field" type="text" ng-model="company" name="company"  placeholder="Company name">
                  </span>
               </div>
               <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1000">
                  <h3 class="title title_small timeline__title">
                     <input class="text-field" type="text" ng-model="poste" name="post" placeholder="Post">
                  </h3>
                  <div class="timeline__description">
                     <textarea class="text-field" ng-model="post_description" placeholder="Post description"></textarea>
                  </div>
               </article>

               <button class="text-field icon-plus" ng-click="add_exp(year,company,poste,post_description)" id="add" style="float:right; right;background-color: white;color: black;border: 2px solid #eee;"></button>
            </div>


              <!--  <div class="timeline__layout">
                  <div class="timeline__dotted" data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
                  <div class="timeline__inner timeline__time" data-show-effect="fadeIn" data-show-delay="900">
                     <span class="timeline__date">
                        <input class="text-field" type="text" name="year" placeholder="AAAA - AAAA">
                     </span> 
                     <span class="timeline__place-work">
                        <input class="text-field" type="text" name="company"  placeholder="Company name">
                     </span>
                  </div>
                  <article class="timeline__inner timeline__content" data-show-effect="fadeInRight" data-show-delay="1000">
                     <h3 class="title title_small timeline__title">
                        <input class="text-field" type="text" name="post" placeholder="Post">
                     </h3>
                     <div class="timeline__description">
                        <textarea class="text-field" placeholder="Post description"></textarea>
                     </div>
                  </article>
               </div> -->



            </div>
         </div>
      </section>
      <section id="education" class="wrapper display_js">
         <div class="main-container main-container_padding">
            <header class="main-container__header">
               <h2 class="title title_bottom-decor">Education</h2>
               <div class="subtitle">More about my education</div>
            </header>
            <div class="timeline">

               <div class="timeline__line " data-show-effect="fadeInDown" data-show-delay="0" data-time="2000"></div>
               

               <div ng-repeat="education in user.formation">
                  <div class="timeline__layout">
                     <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
                     <div class="timeline__inner timeline__time " data-show-effect="fadeIn" data-show-delay="900"><span class="timeline__date">{{education.year_educ}}</span> <span class="timeline__place-work">{{education.school}}</span></div>
                     <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1000">
                        <h3 class="title title_small timeline__title">{{education.degree}}</h3>
                        <div class="timeline__description">
                           <p>{{education.activity}}</p>
                        </div>
                     </article>
                  </div>
               </div>

               <div class="timeline__layout">
                  <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
                  <div class="timeline__inner timeline__time " data-show-effect="fadeIn" data-show-delay="900">
                     <span class="timeline__date">
                        <input class="text-field" type="text" ng-model="year_educ" name="year" placeholder="AAAA - AAAA">
                     </span> 
                     <span class="timeline__place-work">
                        <input class="text-field" type="text" ng-model="school" name="school"  placeholder="School">
                     </span>
                  </div>
                  <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1000">
                     <h3 class="title title_small timeline__title">
                        <input class="text-field" type="text" ng-model="degree" name="degree" placeholder="Degree">
                     </h3>
                     <div class="timeline__description">
                        <textarea class="text-field"  ng-model="activity" placeholder="Activities within the school"></textarea>
                     </div>
                  </article>
                  <button class="text-field icon-plus" ng-click="add_educ(year_educ,school,degree,activity)" id="add" style="float:right; right;background-color: white;color: black;border: 2px solid #eee;"></button>

               </div>
              <!--  <div class="timeline__layout">
                  <div class="timeline__dotted" data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
                  <div class="timeline__inner timeline__time" data-show-effect="fadeIn" data-show-delay="900">
                     <span class="timeline__date">
                        <input class="text-field" type="text" name="mail" placeholder="AAAA - AAAA">
                     </span> 
                     <span class="timeline__place-work">
                        <input class="text-field" type="text" name="school"  placeholder="School">
                     </span>
                  </div>
                  <article class="timeline__inner timeline__content" data-show-effect="fadeInRight" data-show-delay="1000">
                     <h3 class="title title_small timeline__title">
                        <input class="text-field" type="text" name="degree" placeholder="Degree">
                     </h3>
                     <div class="timeline__description">
                        <textarea class="text-field" placeholder="Activities within the school"></textarea>
                     </div>
                  </article>
               </div> -->


            </div>
         </div>
      </section>
      <section id="services" class="wrapper display_js">
         <div class="main-container main-container_padding main-container_no-padding-bottom">
            <header class="main-container__header">
               <h2 class="title title_bottom-decor">Skills</h2>
               <div class="subtitle">What can I offer for you </div>
            </header>


            <div class="main-container">
               <ANY ng-repeat="skill in user.skills">


                 <span style="margin-left: 12px;margin-top: 12px;"><div class="about-me__tag">{{skill.skill}}</div> </span>


              </ANY>
              <br><br>
              <input class="text-field" ng-model="skill" id="task" style="width: 90%">
               <!-- <a class="btn" id="add" 
               href="#"><i class="icon-repeat"></i> Reload</a> -->
               <button class="text-field icon-plus" ng-click="add_skill(skill)" id="add" style="float:right; right;background-color: white;color: black;border: 2px solid #eee;"></button>
               <br/><br/>

               <br/><br/>
            </div>


         </div>

      </section>
      <br><br>
      <div class="contact-form__item">

         <button ng-click="verify(description,firstname,lastname,dob,address,number,email,linkedin,github)" class="button contact-form__button " data-show-effect="fadeInRight" data-show-delay="700"><span class="button__label">SUBMIT</span></button>


      </div>



      <script type="text/javascript"  src="js/dropzone.js"></script>

      <script type="text/javascript"  src="js/app.min.js"></script>

      <script type="text/javascript"  src="js/script.js"></script>
   </div>

