


    
 <header class="main-container__header">
      <h2 class="title title_bottom-decor">ESPACE STAFF</h2>
      <div class="subtitle">WELCOME</div>
   </header>

   <div class="content about-me">
      


      <!-- <div class="about-me__layout " data-show-effect="fadeInLeft" data-show-delay="200">
         <div class="avatar">
         </div>
         <div class="about-me__content">
            <header class="main-container__header">
               <h2 class="subtitle"> You don't have an account ?</h2>
               <div class="title title_bottom-decor"><a href="#/signup">SIGN UP</a></div>

            </header>
         </div>
      </div> -->
 
        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; 
    
 <section  data-show-effect="fadeInDown" data-show-delay="200">
     <a href="#/profileRH">    <h3 class="title title_middle about-me__title">ESPACE <span class="about-me__title-label">PERSONNEL</span></h3>

       &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<img src="css/personnel.png"/>
        </a>
        
      </section>

&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
 <section  data-show-effect="fadeInDown" data-show-delay="200">
     <a href="#/profileRH">    <h3 class="title title_middle about-me__title">ESPACE <span class="about-me__title-label">COLLABORATEURS</span></h3>

  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <img src="css/employes.png"/>
        </a>
        
      </section>

     &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <section  data-show-effect="fadeInDown" data-show-delay="200">
     <a href="#/consulter">   <h3 class="title title_middle about-me__title">ESPACE <span class="about-me__title-label">RECRUTEMENT</span></h3>
     &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<img src="css/recrutement.png"/>
         </a>
      </section>
   </div>

   <br>