    <header class="main-container__header">
               <h2 class="title title_bottom-decor">Candidats</h2>
               <div class="subtitle"></div>
            </header>
            <div class="content services">
               <article class="service" data-show-effect="zoomIn" data-show-delay="0">
                  <table>
                     <tr>
                        <td><img src="http://stas-melnikov.ru/cliparts/men.jpg" align="center"></img></td>
                        <td>
                           <h4 class="title title_small service__name">Bernard Balfour</h4>
                           <div class="service__description">
                              <p>Plain Old Java Geek
                                 Nintendo amant - Love the JVM L'amour de codage. Apparemment, j'aime la programmation fonctionnelle trop 😊<a href="profileForRH.html" style="color: #a74752">...see profile</a></p>
                           </div>
                        </td>
                     </tr>
                  </table>
               </article>
               <article class="service" data-show-effect="zoomIn" data-show-delay="200">
                  <table>
                     <tr>
                        <td><img src="https://yt3.ggpht.com/-QG483UusUXc/AAAAAAAAAAI/AAAAAAAAAAA/ueO-M_soI_M/s900-c-k-no/photo.jpg" align="center" style="width: 150px;height: 150px;"></img></td>
                        <td>
                           <h4 class="title title_small service__name">Nesrine Amamou</h4>
                           <div class="service__description">
                              <p>Network and Telecommunication engineer who fall in love with BigData<a href="profileForRH.html" style="color: #a74752">...see profile</a></p>
                           </div>
                        </td>
                     </tr>
                  </table>
               </article>
            </div>
       