<script async src="http://stas-melnikov.ru/themes/ru-pro/js/min/app.min.js"></script>
<header class="main-container__header">
   <h2 class="title title_bottom-decor">finaxys careers platform</h2>
   <div class="subtitle">WELCOME</div>
</header>
<br><br><br><br>
<div class="content about-me">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <section class="layer" data-show-effect="fadeInDown" data-show-delay="200">
      <a href="#/signinRH">
         <h3 class="title title_middle about-me__title">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;ESPACE <span class="about-me__title-label">STAFF</span></h3>
         &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<img src="/assets/images/staff.png"/>
      </a>
   </section>
   &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
   <section class="layer" data-show-effect="fadeInDown" data-show-delay="200">
      <a href="#/auth">
         <h3 class="title title_middle about-me__title">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;ESPACE <span class="about-me__title-label">CANDIDAT</span></h3>
         &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
         &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<img src="/assets/images/candidat.png"/>
      </a>
   </section>
</div>
<br><br><br><br><br>