 <header class="main-container__header">
               <h2 class="title title_bottom-decor">JOB OFFER</h2>
               <div class="subtitle"></div>
            </header>
            <div class="content services">
               <article class="service " data-show-effect="zoomIn" data-show-delay="0">
              <!--  <a href="#" class="list-works__item list-works__item_big  open-popup_js" data-show-effect="fadeIn" data-show-delay="100" data-id="he"> -->
                  <table>
                     <tr>
                        <td>
                           <h4 class="title title_small service__name" style="text-transform: uppercase;">information systems architect</h4>
                           <div class="service__description">
                              <p>You will be responsible for the design and validation of pilot and/or strategic project technical architectures.
                              Your missions and responsibilities will include:
                              Defining the methodological and technical standards and recommendations intended to guarantee the overall coherence, development and permanency of the information systems
                              Participation in the definition and implementation of the technical rationalisation strategy and inter-application exchange management
                              Technological watch<a href="#" class="list-works__item list-works__item_big  open-popup_js" data-show-effect="fadeIn" data-show-delay="100" data-id="aa" style="color: #a74752">...see more</a></p>
                           </div>
                        </td>
                     </tr>
                  </table>
               </article>
               <article class="service " data-show-effect="zoomIn" data-show-delay="0">
                  <table>
                     <tr>
                        <td>
                           <h4 class="title title_small service__name" style="text-transform: uppercase;">dba</h4>
                           <div class="service__description">
                              <p>You will join the team in charge of database administration. In this capacity, you will take part in the modelling and creation of the databases, their administration, integration monitoring, deployment assistance, tuning and operating team support.
                              The mission involves:
                              Participating in the installation of the database servers and their replication as well as database administration<a href="authentication.html" style="color: #a74752">...see more</a></p>
                           </div>
                        </td>
                     </tr>
                  </table>
               </article>
               <article class="service " data-show-effect="zoomIn" data-show-delay="0">
                  <table>
                     <tr>
                        <td>
                           <h4 class="title title_small service__name" style="text-transform: uppercase;">risk project development consultant</h4>
                           <div class="service__description">
                              <p>You will provide functional expertise on derivative products, results calculation and market risks.
                              You will support our customers from the initial expression of the users' needs through drafting of the technical specifications and business functional specifications and up to overall responsibility for the acceptance testing and functional tests<a href="authentication.html" style="color: #a74752">...see more</a></p>
                           </div>
                        </td>
                     </tr>
                  </table>
               </article>
               <article class="service " data-show-effect="zoomIn" data-show-delay="600">
                  <table>
                     <tr>
                        <td>
                           <h4 class="title title_small service__name" style="text-transform: uppercase;">java design and development engineer</h4>
                           <div class="service__description">
                              <p>You will join the Front-Office development team with responsibility for developing applications for trading or risk management: real-time, data-intensive applications, extensively decoupled from each other<a href="authentication.html" style="color: #a74752">...see more</a></p>
                           </div>
                        </td>
                     </tr>
                  </table>
               </article>
            </div>
         </div>
      </section>
      <div id="lrmw_overlay" class="popup-overlay">
         <div id="aa" class="popup lrmw__popup">
               <span class="close-arrow popup__close_js"></span>
               <div class="popup__inner">
                  <div class="popup__layout">
                     <header class="popup__header box_blur lrmw_" data-show-delay="500" data-hide-delay="900" data-time="500" data-show-effect="fadeIn" data-hide-effect="fadeOut">
                        <h3 class="title popup__title"><span class="popup__title-label lrmw_" data-show-delay="900" data-hide-delay="450" data-time="500" data-show-effect="rotateInDownLeft" data-hide-effect="rotateOutUpLeft" style="text-transform: uppercase;">information systems architect</span></h3>
                        <img src="http://stas-melnikov.ru/cliparts/notebook5_1200x500.jpg" class="responsive-img" alt="Title popup">
                     </header>
                     <div class="popup__content">
                        <div class="popup__description lrmw_" data-show-delay="200" data-hide-delay="600" data-time="500" data-show-effect="fadeInLeft" data-hide-effect="fadeOutLeft">
                           <p>You will be responsible for the design and validation of pilot and/or strategic project technical architectures.</p>
                           <p>Your missions and responsibilities will include:
                           Defining the methodological and technical standards and recommendations intended to guarantee the overall coherence, development and permanency of the information systems
                           Participation in the definition and implementation of the technical rationalisation strategy and inter-application exchange management
                           Technological watch</p>
                           <p>Profile/Skills required:
                           University or Grande Ecole graduate
                           8 to 12 years professional experience in IT and project management
                           Sound knowledge of the technology environment specific to investment banking and trading rooms
                           Competency in Java, .Net, C++, EAI, MOM technologies
                           Fluent English</p>
                        </div>
                        <div class="popup__sidebar lrmw_" data-show-delay="400" data-hide-delay="600" data-time="500" data-show-effect="fadeInRight" data-hide-effect="fadeOutRight">
                           <div class="popup__demo-box">
                              <br/><br/><br/><br/><br/>
                              <h4 class="title title_small"><a href="CandidateForm.html" class="popup__show-more">APPLY NOW</a></h4>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      </div>
      <br/><br/>
     