<div ng-controller="ProfileCtrl">
   <a onMouseOver="this.style.cursor='hand'"> <i class="icon-edit icon-2x" ng-click="edit()"  style="float:right;"/></a>
   <br><br><br><br>
   <header class="main-container__header">
      <h2 class="title title_bottom-decor">About me
      </h2>
      <div class="subtitle">Let me introduce myself</div>
   </header>
   <div class="content about-me">
      <div class="about-me__layout " data-show-effect="fadeInLeft" data-show-delay="200">
         <div class="avatar">
            <img class="avatar__img responsive-img" src="{{pic}}" > 
         </div>
         <div class="about-me__content">
            <p>{{user.description}}</p>
         </div>
      </div>
      <section class="about-me__sidebar " data-show-effect="fadeInRight" data-show-delay="200">
         <h3 class="title title_middle about-me__title">
            PERSONAL <span class="about-me__title-label">INFO</span>
            <!--    <button ng-click="addImage()" type="button" class="text-field" style="float:right; right;background-color: black;color: white;border: 0px solid #000;
               width:100px; height:40px">EDIT</button> -->
         </h3>
         <!--  <button ng-click="" class="button contact-form__button " ><span class="button__label">EDIT</span></button> -->
         <br> <br>
         <div class="about-me__row">
            <div class="about-me__column">
               <div class="about-me__tag">Name</div>
            </div>
            <div class="about-me__column">
               <div class="about-me__value"> {{user.firstname}} {{user.lastname}}</div>
            </div>
         </div>
         <div class="about-me__row">
            <div class="about-me__column">
               <div class="about-me__tag">DOB</div>
            </div>
            <div class="about-me__column">
               <div class="about-me__value"> {{user.dob}}</div>
            </div>
         </div>
         <div class="about-me__row">
            <div class="about-me__column">
               <div class="about-me__tag">ADDRESS</div>
            </div>
            <div class="about-me__column">
               <div class="about-me__value"> {{user.address}}</div>
            </div>
         </div>
         <div class="about-me__row">
            <div class="about-me__column">
               <div class="about-me__tag">PHONE</div>
            </div>
            <div class="about-me__column">
               <div class="about-me__value"> {{user.number}}</div>
            </div>
         </div>
         <div class="about-me__row">
            <div class="about-me__column">
               <div class="about-me__tag">E-mail</div>
            </div>
            <div class="about-me__column">
               <div class="about-me__value"><a href="#"> {{user.email}}</a></div>
            </div>
         </div>
         <div class="about-me__row">
            <div class="about-me__column">
               <div class="about-me__tag">Follow me</div>
            </div>
            <div class="about-me__column">
               <big>   <big> <a href="//{{user.linkedin}}" class=" icon_rounded icon-linkedin-sign" ></a> </big></big>
               <big>   <big>  <a href="//{{user.github}}" class=" icon_rounded icon-github-sign" ></a>  </big></big>
            </div>
         </div>
      </section>
   </div>
</div>
</section>
<!-- <section id="skills" class="wrapper box_blur skills-display display_js">
   <div class="main-container main-container_padding">
      <header class="main-container__header">
         <h2 class="title title_bottom-decor title_white">Skills</h2>
      </header>
      <div class="content skills">
         <div class="skills__column " data-show-effect="fadeIn" data-show-delay="400">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
         </div>
         <div class="skills__column skills-bar">
            <div class="skills-bar__item">
               <div class="skill-bar  skill-bar_js" data-show-effect="fadeInLeft" data-show-delay="200" data-skill-bar-width="90%">
                  <div class="skill " data-show-effect="fadeIn" data-show-delay="1200"><span class="skill__name">HTML</span> <span class="skill__value skill__value_js"></span></div>
               </div>
            </div>
            <div class="skills-bar__item">
               <div class="skill-bar  skill-bar_js" data-show-effect="fadeInLeft" data-show-delay="400" data-skill-bar-width="80%">
                  <div class="skill " data-show-effect="fadeIn" data-show-delay="1400"><span class="skill__name">CSS</span> <span class="skill__value skill__value_js"></span></div>
               </div>
            </div>
            <div class="skills-bar__item">
               <div class="skill-bar  skill-bar_js" data-show-effect="fadeInLeft" data-show-delay="600" data-skill-bar-width="60%">
                  <div class="skill " data-show-effect="fadeIn" data-show-delay="1600"><span class="skill__name">JS</span> <span class="skill__value skill__value_js"></span></div>
               </div>
            </div>
            <div class="skills-bar__item">
               <div class="skill-bar  skill-bar_js" data-show-effect="fadeInLeft" data-show-delay="800" data-skill-bar-width="70%">
                  <div class="skill " data-show-effect="fadeIn" data-show-delay="1800"><span class="skill__name">Jquery</span> <span class="skill__value skill__value_js"></span></div>
               </div>
            </div>
            <div class="skills-bar__item">
               <div class="skill-bar  skill-bar_js" data-show-effect="fadeInLeft" data-show-delay="1000" data-skill-bar-width="30%">
                  <div class="skill " data-show-effect="fadeIn" data-show-delay="2000"><span class="skill__name">Design</span> <span class="skill__value skill__value_js"></span></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </section> -->
<section id="experience" class="wrapper display_js">
   <div class="main-container main-container_padding">
      <header class="main-container__header">
         <h2 class="title title_bottom-decor">Experiences</h2>
         <div class="subtitle">More about my experiences</div>
      </header>
      <div class="timeline">
         <div class="timeline__line " data-show-effect="fadeInDown" data-show-delay="0" data-time="2000"></div>
         <div ng-repeat="experience in user.experiences">
            <div class="timeline__layout">
               <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
               <div class="timeline__inner timeline__time " data-show-effect="fadeIn" data-show-delay="900"><span class="timeline__date">{{experience.year}}</span> <span class="timeline__place-work">{{experience.company}}</span></div>
               <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1000">
                  <h3 class="title title_small timeline__title">{{experience.poste}}</h3>
                  <div class="timeline__description">
                     <p>{{experience.post_description}}</p>
                  </div>
               </article>
            </div>
         </div>
         <!--  <div class="timeline__layout">
            <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="700" data-time="300"></div>
            <div class="timeline__inner timeline__time " data-show-effect="fadeIn" data-show-delay="1100"><span class="timeline__date">2013 - 2014</span> <span class="timeline__place-work">Web Studio "Studio Name"</span></div>
            <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1200">
               <h3 class="title title_small timeline__title">Front-end developer</h3>
               <div class="timeline__description">
                  <p>...</p>
               </div>
            </article>
            </div> -->
      </div>
   </div>
</section>
<section id="education" class="wrapper display_js">
   <div class="main-container main-container_padding">
      <header class="main-container__header">
         <h2 class="title title_bottom-decor">Education</h2>
         <div class="subtitle">More about my education</div>
      </header>
      <div class="timeline">
         <div class="timeline__line " data-show-effect="fadeInDown" data-show-delay="0" data-time="2000"></div>
         <div ng-repeat="education in user.formation">
            <div class="timeline__layout">
               <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="500" data-time="300"></div>
               <div class="timeline__inner timeline__time " data-show-effect="fadeIn" data-show-delay="900"><span class="timeline__date">{{education.year_educ}}</span> <span class="timeline__place-work">{{education.school}}</span></div>
               <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1000">
                  <h3 class="title title_small timeline__title">{{education.degree}}</h3>
                  <div class="timeline__description">
                     <p>{{education.activity}}</p>
                  </div>
               </article>
            </div>
         </div>
         <!--   <div class="timeline__layout">
            <div class="timeline__dotted " data-show-effect="zoomIn" data-show-delay="700" data-time="300"></div>
            <div class="timeline__inner timeline__time " data-show-effect="fadeIn" data-show-delay="1100"><span class="timeline__date">2008 - 2011</span> <span class="timeline__place-work">Lycée Pierre Lescot</span></div>
            <article class="timeline__inner timeline__content " data-show-effect="fadeInRight" data-show-delay="1200">
               <h3 class="title title_small timeline__title">Bachelor degree</h3>
               <div class="timeline__description">
                  <p>...</p>
               </div>
            </article>
            </div> -->
      </div>
   </div>
</section>
<section id="services" class="wrapper display_js">
<div class="main-container main-container_padding main-container_no-padding-bottom">
   <header class="main-container__header">
      <h2 class="title title_bottom-decor">Skills</h2>
      <div class="subtitle">What can I offer for you</div>
   </header>
   <div class="content services">
      <ANY ng-repeat="skill in user.skills">
         <span style="margin-left: 12px;margin-top: 12px;">
            <div class="about-me__tag">{{skill.skill}}</div>
         </span>
      </ANY>
   </div>
</div>