<div ng-controller="SignCtrl">
<header class="main-container__header">
					<h2 class="title title_bottom-decor">finaxys careers platform</h2>
					<div class="subtitle">WELCOME</div>
				</header>
				
				<div class="content about-me">
	<div class="about-me__layout">
		<div class="avatar">
		</div>
		<div class="about-me__content">
			<header class="main-container__header">

			  <h2 class="subtitle"> Already have an account ?</h2>
             
				<div class="title title_bottom-decor"><a href="#/auth">SIGN IN</a></div>   
			</header>
		</div>
	</div>
	<section class="about-me__sidebar">
		<h3 class="title title_middle about-me__title">FILL IN <span class="about-me__title-label">YOUR INFO</span></h3>
		<div class="contact-form__item">
			<i class="icon icon-user contact-form__icon"></i> 
			<input class="text-field" ng-model="username" placeholder="username" name="username" required>
		</div>
		
		<div class="contact-form__item">
			<i class="icon icon-envelope-alt contact-form__icon"></i> 
			<input class="text-field" ng-model="email" type="email" placeholder="Your email" name="email" required>
		</div>

		<div class="contact-form__item">
			<i class="icon icon-key contact-form__icon"></i> 
			<input class="text-field" ng-model="password" type="password" placeholder="password" name="password" required>
		</div>

		<div class="contact-form__item">
			<i class="icon icon-key contact-form__icon"></i> 
			<input class="text-field" ng-model="cpassword" type="password" placeholder="confirm password" name="cpassword" required>
		</div>

           

			<div class="contact-form__item">
               <button ng-click="verify(username,email,password,cpassword)" class="button contact-form__button " data-show-effect="fadeInRight" data-show-delay="700"><span class="button__label">Submit</span></button>

            </div>



			
	</section>
</div>
</div>