<div ng-controller="AuthCtrl2"> 
<header class="main-container__header">
               <h2 class="title title_bottom-decor">finaxys careers platform</h2>
               <div class="subtitle">WELCOME</div>
            </header>

           <div class="content about-me">
       <section class="about-me__sidebar " data-show-effect="fadeInRight" data-show-delay="200">
      </section>
      <section class="about-me__sidebar " data-show-effect="fadeInRight" data-show-delay="200">
         <h3 class="title title_middle about-me__title">SIGN <span class="about-me__title-label">IN</span></h3>
         <form id="todo-form" >
            <div class="contact-form__item " data-show-effect="fadeInRight" data-show-delay="400" >
               <i class="icon icon-user contact-form__icon"></i> 
               <input class="text-field" ng-model="username" placeholder="username"required>
            </div>
            <div class="contact-form__item " data-show-effect="fadeInRight" data-show-delay="500">
               <i class="icon icon-key contact-form__icon"></i> 
               <input class="text-field" ng-model="password" type="password" placeholder="password" name="password" required>
            </div>

       


            <div class="contact-form__item">
               <button ng-click="verify(username,password)" class="button contact-form__button " data-show-effect="fadeInRight" data-show-delay="700"><span class="button__label">Submit</span></button>

            </div>

            <p></p>
         </form>
      </section>

   

        <section class="about-me__sidebar " data-show-effect="fadeInRight" data-show-delay="200">
      </section>
   </div>
     </div>