<!doctype html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/main1.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/css/dropzone.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body id="welcome_active" ng-app="FinaxysApp">
<section id="about" class="wrapper display_js">
    <div class="main-container main-container_padding">
        <ng-view></ng-view>
        <br><br><br><br>
    </div>
</section>
<br/><br/>
<footer class="footer">
    <div class="main-container">
        <div class="copyright">© 2016 All right reserved</div>
        <div class="author">Finaxys Academy</div>
    </div>
</footer>
<div class="fixed-panel">
    <div class="main-container">
        <ANY ng-controller="headCtrl">
            <div class="logo logo_left">
                <ANY ng-show="session == 'false'">
                    <div class="logo__label">Finaxys <span class="logo__item logo__item_bold">Academy</span></div>
                </ANY>
                <ANY ng-show="session == 'true'">
                    <div class="logo logo_left">
                        <span class="logo__item"></span>WELCOME <span class="logo__item logo__item_bold"></span>
                        <div class="logo__label"><span class="logo__item logo__item_bold">{{user.username}}</span></div>
                    </div>
                </ANY>
            </div>
            <nav class="nav nav_main">
                <ANY ng-show="session == 'false'">
                    <a href="#/home" >HOME</a>
                </ANY>
                <ANY ng-show="session == 'true'">
                    <ANY ng-show="type == 'staff'">
                        <a href="#/acceuil" >HOME</a>
                    </ANY>
                    <ANY ng-show="type == 'candidat'">
                        <a href="#/offres" >OFFRES</a>
                    </ANY>
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                    <a href="#/profile" >PROFILE</a>
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                    <a href="#/home" ng-click="deconnexion()">QUIT</a>
                </ANY>
            </nav>
        </ANY>
        <div class="nav-icon mobile-menu-open_js">
            <div class="icon-menu"></div>
        </div>
    </div>
</div>
<div class="overlay mobile-menu-close_js"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script async src="http://stas-melnikov.ru/themes/ru-pro/js/min/app.min.js"></script>
<script src="http://stas-melnikov.ru/themes/ru-pro/js/min/vegas.min.js"></script>

<script src="/assets/js/vendor/angular/angular.js"></script>
<script src="/assets/js/vendor/angular-route/angular-route.js"></script>
<script src="/assets/js/vendor/angular-resource/angular-resource.js"></script>
<script src="/assets/js/properties.js"></script>
<script src="/assets/js/app.js"></script><!--
      <script src="js/vendor/angular-animate/angular-animate.js"></script> -->
<script type="text/javascript" src="/assets/js/dropzone.js"></script>
<script src="/assets/js/script.js"></script>
</body>
</html>